*{
    --main-bg-color:#4381EC;
    --other-fcolor:snow;
    --fsize:medium;
    --fweight:bold;
    --main-ffamily:'Alegreya Sans', sans-serif;     
}

body{
    font-family:var(--main-ffamily);
    font-weight: var(--fweight);
    background-color:var(--main-bg-color);
}
.divs{
    background-color: white;    
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    width: 500px;
    height: auto ;
    box-sizing: border-box;
   
}
a:link{
    text-decoration: none;
}
span{
    color: #E34133;
}
span:hover{
    color:#4DA351;
}
.banner{
    background-image: url("images/Founders.jpg");
    background-color:white; 
    height: 300px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

nav>a{  
    height: 40px;
    width: 90%;
    font-size: smaller;
    text-transform:uppercase;
    padding-left: 5px;    
    color: var(--other-fcolor); 
}
nav>a:hover{
    background-color: white;
    color: #4381EC;
    font-weight: bolder;
    border-radius: 1.5px;
    padding: 5px;
}

ul{
    line-height: 1.5em;
    padding: 5px;
    list-style: none;
    column-count: 3;
}
.doodle{
    
    float: left;
    width: 180px;
    height: 80px;
    padding-right: 5px;
}
picture{
    padding: 10px;
    position:relative;
    display: block; 
}
.computerImage{
    display: block;
    position: relative;
    float: left;
    height: 150px;
    padding: 5px;

}
h1, h2{
    font-size: large;
    font-weight: bolder;
}
#g1{
color:#4381EC;    
}
#o1{
color: #E34133;
}
#o2{
color:#F1B616;
}
#g2{
color:#4381EC;
}
#l{
color:#4DA351;
}
#e{
color: #E34133;
}


footer>p{
height: 20px;
padding: 50px;
text-align: center;
color: snow;
background-color: var(--main-bg-color);
}
